{% extends 'common/base.html' %}

{% block title %}Deliveries{% endblock %}

{% block container %}
<div>
	<div class="row">
		<div class="col-md-6">
			<form action="" method="get">
				<div class="row">
					<div class="form-group col-xs-6">
			        	<label for="id_month">Month:</label> <input type="text" name="date" id="id_month">
					</div>
					<div class="form-group col-xs-6">
					    <input type="submit" />
					</div>
				</div>
		    </form>
		</div>
		<div class="col-md-6">
			<button class="btn btn-info btn-sm" onclick="window.print();">Print</button>
		</div>
	</div>
	<table class="table datatable" id="suppliesTable">
		<thead>
		<tr>
			<th>Date</th>
			<th>Delivery</th>
			<th>Qty</th>
			<th>Rate</th>
			<th>Credit</th>
			<th>Total</th>
		</tr>
	</thead><tbody>
		{% for delivery in deliveries %}
		<tr>
			<td>{{delivery.date}}</td>
			<td>{{delivery.buyer}}</td>
			<td>{{delivery.weight}}</td>
			<td>{{delivery.rate}}</td>
			<td>{{delivery.credit}}</td>
			<td>{{delivery.amount}}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tr>
			<td></td>
			<td></td>
			<td>{{total.weight}}</td>
			<td></td>
			<td></td>
			<td>{{total.total}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Final Amount</td>
			<td></td>
			<td></td>
			<td>{{buyer.amount}}</td>
		</tr>
	</table>
</div>
{% endblock %}

{% block extra_js %}
  <script>
  $(document).ready(function(){
    $( "#id_month" ).datepicker({
    	dateFormat: 'mm-yy',
	 	changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        onClose: function(dateText, inst) { 
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });
  });
  </script>
{% endblock %}