{% extends 'common/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block container %}
<div>
	<table class="table datatable" id="buyersTable">
		<thead>
		<tr>
			<th>Name</th>
			<th>Date joined</th>
			<th>Phone</th>
			<th>amount</th>
		</tr>
	</thead><tbody>
		{% for supplier in suppliers %}
		<tr>
			<td><a href="{% url 'supplier_detail' supplier.id %}">{{supplier.name}}</a></td>
			<td>{{supplier.joined_date}}</td>
			<td>{{supplier.mobile}}</td>
			<td>{{supplier.amount}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}